html {
    font-family: Lato;
    counter-reset: item;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
    /* uncomment to get smooth momentum scroll, but also a rubber band effect */
    -webkit-overflow-scrolling: auto;
}

* {
    box-sizing: border-box;
}

.grabbable {
    cursor: move !important;
    /* fallback if grab cursor is unsupported */
    cursor: grab !important;
    cursor: -moz-grab !important;
    cursor: -webkit-grab !important;
}


/* (Optional) Apply a "closed-hand" cursor during drag operation. */

.grabbable:active {
    cursor: move !important;
    cursor: grabbing !important;
    cursor: -moz-grabbing !important;
    cursor: -webkit-grabbing !important;
}

#drag {
    position: fixed;
    width: 20000%;
    height: 20000%;
    top: -10000%;
    left: -10000%;
}

.container {
    background-color: #ffffff;
}

.box-row {
    width: 100%;
}

.box {
    width: 10px;
    height: 10px;
    margin-left: 2px;
    margin-bottom: 2px;
    background: white;
    float: left;
}

.box-row .box:first-child {
    margin-left: 0;
}

h1,
h2,
h3,
h4 {
    font-family: 'Lato', sans-serif;
}

.logo {
    position: absolute;
    top: -30%;
    z-index: 1000;
    left: 4%;
    transition: all 0.5s ease-out;
}

.logo img {
    width: 40%;
}

.enclose {
    position: absolute;
    bottom: 10%;
    left: 25%;
    width: 100%;
    height: 40%;
    visibility: visible;
    background-color: transparent;
}

a {
    color: white;
    text-decoration: none;
}

#loader .load-progress {
    opacity: 0;
    font-size: 5em;
    color: #111;
    position: absolute;
    top: 40%;
    width: 5em;
    text-align: center;
    left: 50%;
    transform: translate(-55%, -50%);
}

a.load-progress span {
    width: 1.8em;
    text-align: right;
    display: inline-block;
}

.md-modal a,
.md-modal a:hover,
,
.md-modal a:visited {
    color: #037EF3;
}

a.btn,
a.btn:visited {
    border: 1px solid #58A7F2;
    color: #58A7F2;
    padding: 5px 10px;
    transition: all 0.3s;
}

#egypt .btn {
    line-height: 2;
}

.action-left {
    position: absolute;
    left: 0;
}

a.btn.action-right {
    position: absolute;
    right: 0;
}

a.btn:hover {
    color: white;
    background-color: #58a7f2;
}

a:hover,
a:active,
a:focus {
    color: white;
    text-decoration: none;
}

.navigator {
    position: absolute;
    bottom: 10%;
    left: 21%;
    z-index: 1900;
    width: 80%;
    height: 0px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.line {
    border-bottom: 3px solid white;
    width: 4%;
    height: 3px;
    margin: 0 -2%;
}

.circle {
    width: 18px;
    height: 18px;
    border: 2px solid white;
    border-radius: 100%;
    box-sizing: border-box;
    margin: 0 2%;
    cursor: pointer;
}

.video {
    opacity: 0;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 1990;
    transition: all 1s ease-in;
    padding: 0;
    background-color: white;
    transition: opacity 0.2s;
}

.video video {
    transform-origin: 0% 0%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    /*    object-fit: cover;*/
}

@supports (object-fit: cover) {
    .video video,
    .video_stage {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.full {
    bottom: 0%;
    position: absolute;
    left: 0%;
    height: 100%;
    fill: white;
}

.next {
    display: none;
    position: relative;
    bottom: 0%;
    width: 100%;
    height: 10%;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    font-size: 25px;
    font-family: "Lato";
    border: 1px solid white;
}

.full span {
    height: 100%;
    display: block;
}


/*@media (min-aspect-ratio: 16/9) {
 .video video{
    width: 100%;
    height: auto; 
  }
}*/


/*@media (max-aspect-ratio: 16/9) {
  .video video {
    width: auto; 
    height: 100%;
  }
}*/

.video .skip,
.video .load-progress {
    position: absolute;
    bottom: 5%;
    left: 5%;
    font-size: 20px;
    color: white;
    cursor: pointer;
    border-bottom: 1px solid white;
    font-weight: 400;
    font-family: Lato;
    transform: translate3d(-500px, 0, 0);
    transition: all 0.8s ease-out;
    z-index: 1989;
}

.skip:hover,
.skip:active,
.skip:visited {
    text-decoration: none;
}

.video .load-progress {
    transform: translate3d(0, 0, 0);
    text-align: left;
    width: 3em;
    border-bottom: none;
}

.video .load-progress span {
    text-align: left;
}

.navigation {
    background-color: white;
    color: #037EF3;
    position: absolute;
    font-family: 'Lato', sans-serif;
    padding: 3%;
    visibility: visible;
    opacity: 1;
    top: 25%;
    z-index: 1900;
}

.arrow {
    width: 30%;
    position: relative;
    left: 35%;
}

.mouse {
    width: 15%;
    position: relative;
    left: 40%;
}

.text {
    width: 40%;
    min-width: 300px;
    height: 100%;
    max-height: 100%;
    overflow-y: scroll;
    background-color: rgba(3, 126, 243, 0.8);
    color: white;
    z-index: -100;
    position: relative;
    font-family: 'Lato', sans-serif;
}

.animate {
    animation: slide 0.6s 0.1s ease-in;
}

.sidebar-header {
    text-align: center;
    margin-top: 60px;
    padding-top: 80px;
    position: relative;
    padding-left: 0%;
    font-family: 'Lato', sans-serif;
}

.sidebar-image {
    background-color: white;
    z-index: -100;
    width: 100%;
    position: absolute;
    padding: 0;
    height: 100%;
    background-size: cover;
    background-position: center;
    left: 0;
    top: 100%;
    transition: transform 0.3s, opacity 0.3s;
    transform: translate3d(0, 0, 0);
}

.sidebar-view.active .sidebar-image {
    transform: translate3d(0, -100%, 0);
    transition-delay: 0.3s;
}

.sidebar-image img {
    transform-origin: 0% 100%;
    width: 100%;
    height: 100%;
}

.sidebar-view.hide-sidebar .sidebar-video {
    opacity: 1;
}

.sidebar-video video {
    width: 100%;
    height: 100%;
    display: none;
}

.sidebar-video video.active {
    display: block;
}

.sidebar-video {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    transition: all 0.3s;
    background-color: black;
}

.signup {
    position: absolute;
    right: 30px;
    top: 15px;
    /* width: 40%; */
    border: 1px solid white;
    background-color: transparent;
    border-radius: 0;
    color: white;
    font-size: 0.8em;
    box-sizing: border-box;
    z-index: 100;
    line-height: 2;
    cursor: pointer;
    padding: 2px 20px;
    transition: all 0.2s;
}

.signup img {
    width: 80%;
}

.signup:hover {
    color: #2385E0;
    background-color: white;
}

.remove-div {
    background-color: #037EF3;
    width: 20%;
    height: 10%;
}

.tab-content {
    padding: 0!important;
}

.remove,
.back {
    color: white;
    border: none;
    background-color: transparent;
    position: absolute;
    left: 20px;
    line-height: 2;
    top: 15px;
    text-align: center;
    font-size: 0.8em;
    padding: 2px 10px;
    transition: all 0.2s;
    cursor: pointer;
}

.remove-right {
    position: absolute;
    right: 5%;
    top: 3%;
    font-size: 20px;
    cursor: pointer;
}

.remove:hover {
    /* transform: scale(1.3); */
    /* transform-origin: 50% 50%; */
    background: white;
    color: #2384DF;
}

.animateToview {
    visibility: visible;
    opacity: 1;
}

.animateOutofview {
    visibility: hidden;
    opacity: 0;
}

.popover {
    border: 0px;
}

.popover-content {
    color: #037EF3;
    font-family: 'Lato', sans-serif;
}

@keyframes slide {
    from {
        left: 1000%;
    }
    to {
        left: 10%;
    }
}

.transparent {
    opacity: 0
}

#loader {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    transition: all 0.8s ease-out;
    z-index: 2000;
}

#loader.loading .load-progress {
    opacity: 1;
}

#loader-inner {
    height: 36px;
    width: 36px;
    margin: 0 auto;
    margin-top: 100px;
}

.box-row {
    width: 100%;
}

.box {
    width: 10px;
    height: 10px;
    margin-left: 2px;
    margin-bottom: 2px;
    background: white;
    float: left;
}

.box-row .box:first-child {
    margin-left: 0;
}

.sidebar-view {
    position: fixed;
    z-index: 2000;
    width: 100%;
    /* left: 100%; */
    height: 100%;
    top: 0;
    border-image-width: 0;
    overflow: hidden;
    /* display: none; */
    transition-delay: 0.6s;
    transition-duration: 0.3s;
    transform: translate3d(100%, 0, 0);
}

.sidebar-view.white-bg {
    background-color: white;
}

.side_bar {
    position: absolute;
    right: -520px;
    width: 500px;
    padding-right: 20px;
    height: 100%;
    background-color: rgba(3, 126, 243, 0.8);
    font-family: "Lato";
    font-size: 18px;
    color: white;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: transform 0.3s;
    box-sizing: border-box;
    transition-delay: 0.3s;
    box-shadow: -1px 0px 5px rgba(17, 17, 17, 0.5);
    transform: translate3d(0, 0, 0);
    /* uncomment to get smooth momentum scroll, but also a rubber band effect */
    /*-webkit-overflow-scrolling: touch;*/
}

.side_bar div {
    /* overflow-y: scroll; */
}

.sidebar-view.active {
    transform: translate3d(0px, 0, 0);
    transition-delay: 0s;
}

.sidebar-view.active.hide-sidebar .side_bar {
    transform: translate3d(0, 0, 0);
}

.sidebar-view.active .side_bar {
    transform: translate3d(-500px, 0, 0);
    transition-delay: 0s;
    /* transition: none; */
}

.sidebar-project-logo {
    margin-top: -80px;
    width: 300px;
    text-align: center;
}

.sidebar-project-logo[src=""] {
    display: none;
}

.sidebar-project-title {
    margin-top: -30px;
    font-size: 2em;
    font-weight: 300;
    margin-bottom: 20px;
}

.sidebar-project-content {
    padding: 30px;
    width: 480px;
    box-sizing: border-box;
    line-height: 1.8;
    font-size: 1.1em;
    font-weight: 400;
    min-height: 400px;
}

.sidebar-view .sidebar-project-playback,
.sidebar-view .sidebar-video {
    display: none;
}

.sidebar-view.has-video .sidebar-project-playback,
.sidebar-view.has-video .sidebar-video {
    display: block;
}

.sidebar-view.hide-sidebar .sidebar-project-playback {
    transform: translate3d(540px, 0, 0);
}

.sidebar-project-playback {
    width: 480px;
    height: 22%;
    box-sizing: border-box;
    bottom: 0;
    right: 0;
    position: absolute;
    border: none;
    cursor: pointer;
    font-size: 2em;
    line-height: 2;
    /* text-align: center; */
    font-weight: 200;
    border-top: 1px solid white;
    color: white;
    height: 75px;
    background-color: rgb(37, 131, 219);
    fill: white;
    z-index: 10001;
    transition: all 0.3s;
}

.sidebar-project-playback:hover {
    background-color: white;
    color: #0E70CD;
    opacity: 1;
}

.sidebar-subnav {
    list-style: none;
    width: 90%;
    margin-top: 20px;
    margin: 0 auto;
    padding: 0 0 30px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid white;
}

.sidebar-subnav li {
    padding: 10px;
    text-align: center;
    border: 1px solid white;
    display: inline-block;
    min-width: 100px;
    margin: 2px;
    cursor: pointer;
    transition: all 0.2s;
}

.sidebar-subnav a {
    padding: 0;
}

.sidebar-subnav li:hover a {
    /* background-color: white; */
    color: rgb(3, 126, 243);
    /* border: none; */
}

.sidebar-subnav li a {}

.sidebar-subnav li:hover {
    background-color: white;
}

.white-sub {
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(3, 126, 243);
}

.side_bar .row {
    margin: 0;
}

.side_bar .row div {
    padding: 2%;
}

.scrollable {
    padding: 0!important;
}

.side_bar a {
    color: white;
}

.visit {
    border: 1px solid white;
    color: white;
    font-family: "Lato";
    background-color: transparent;
    position: relative;
    left: 80%;
    top: -63px;
}

.video_stage {
    position: fixed;
    display: none;
    top: 0%;
}

.tab-content div {
    display: none;
}

.active-tab {
    display: block !important;
}

.media_controls {
    display: none;
    z-index: 20;
    background-color: rgba(3, 126, 243, 0.8);
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 5%;
}

.playing {
    display: block;
}

.media_controls button {
    background-color: transparent;
    color: white;
    width: 5%;
    border: none;
}

.pause {
    padding-top: 2%;
    display: block;
    fill: white;
}

.play {
    padding-top: 2%;
    display: none;
    fill: white;
}

.pause svg path {
    fill: white;
}

.play svg {
    height: 100%;
}

.pause:hover,
.play svg path:hover {
    fill: rgba(255, 255, 255, 0.5);
}

.prog {
    position: absolute;
    bottom: 50%;
    left: 5%;
    width: 80%;
}

input[type=range] {
    -webkit-appearance: none;
    border: 1px solid white;
    height: 5px;
    border-radius: 10px 10px;
    /*required for proper track sizing in FF*/
    width: 100%;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: white;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: white;
}


/*hide the outline behind the border*/

input[type=range]:-moz-focusring {
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]:focus::-moz-range-track {
    background: #ccc;
}

::-webkit-media-controls {
    display: none !important;
}

@media(max-width: 780px) {
    .side_bar {
        height: auto;
        min-height: calc(100% - 390px);
        /* top: 30vh; */
        right: 0;
        padding-top: 30px;
        position: relative;
        background-color: rgba(3, 126, 243, 1);
        width: 100%;
        transform: translate3d(0, 0, 0);
        transition-delay: 0s;
        overflow-y: scroll;
        overflow-x: visible;
    }
    .sidebar-view {
        overflow-y: scroll;
    }
    .sidebar-view .sidebar-image {
        position: relative;
        left: 0;
        top: -310px;
        height: 360px;
        transition-delay: 0s;
    }
    .sidebar-view.active .sidebar-image {
        transform: translate3d(0, 360px, 0);
    }
    .sidebar-video {
        height: 410px;
    }
    .sidebar-view.active .side_bar {
        transform: translate3d(0, 0, 0);
    }
    .sidebar-view.active.hide-sidebar .side_bar {
        transform: translate3d(0, 0, 0);
    }
    .sidebar-header {
        margin-top: 0px;
        position: relative;
        top: -60px;
        width: 100%;
        /* background: rgba(255, 255, 255, 0.59); */
    }
    .sidebar-navigation {
        position: absolute;
        width: 100%;
        height: 65px;
        top: -360px;
        background-color: rgb(3, 126, 243);
    }
    .sidebar-view {
        padding-right: 20px;
        right: -40px;
        width: calc(100% + 40px);
        height: calc(100% + 40px);
        transition-delay: 0.3s;
    }
    .sidebar-video video {
        width: calc(100% - 40px);
    }
    .sidebar-view.active {
        /* transform: translate3d(-100%, 0, 0); */
    }
    .sidebar-project-title {
        margin-top: -20px;
    }
    .sidebar-project-content {
        width: 100%;
        padding-top: 0;
        margin-top: -20px;
        min-height: auto;
    }
    .sidebar-project-logo {
        width: 250px;
        margin-top: -50px;
    }
    .sidebar-project-playback {
        border: none;
        top: 50px;
        font-size: 10em;
        background: transparent;
        line-height: 0;
        opacity: 0.5;
        width: 100%;
        height: 50%;
        bottom: initial;
        /* text-shadow: 0px 1px 1px rgba(17, 17, 17, 0.1); */
    }
    .sidebar-project-playback:hover {
        background: transparent;
    }
    .navigator {
        opacity: 0;
        visibility: hidden;
    }
}

.ti {
    font-weight: 300;
    font-size: 29px;
    word-spacing: 3.5px;
    line-height: 1.3;
}

@media screen and (max-width: 750px) {
    .webui-popover {
        visibility: hidden;
        opacity: 0;
    }
}

.options {
    padding-top: 7%;
}

.op {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 200%;
    z-index: 2000;
    background-color: rgb(37, 131, 219);
    transition: all 0.5s ease-out;
    display: block;
}

.op-text {
    color: white;
    position: absolute;
    top: 13%;
    left: 3%;
    font-size: 21px;
}

.op-note {
    position: absolute;
    bottom: 9%;
    color: white;
    font-size: 12px;
    left: 3%;
}

.op-holder {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 20%;
    width: 95%;
    margin-top: 5%;
}

.opportunity {
    padding: 10px;
    text-align: center;
    border: 1px solid white;
    display: inline-block;
    min-width: 100px;
    margin: 2px;
    cursor: pointer;
    transition: all 0.2s;
    background-color: transparent;
    color: white;
    padding: 20px;
    margin: 11px;
}

@media(max-width: 770px) {
    .op-holder {
        top: 30%;
    }
    .nav_h {
        bottom: 32%;
    }
    .back {
        visibility: hidden;
    }
}

@media (max-width: 770px) and (max-height: 1024px) {
    .back {
        visibility: visible;
    }
}

#panel {
    left: 0%;
    top: 0%;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1980;
}

.full {
    width: 100%;
    height: 100%;
}

.video-mobile {
    z-index: 1999;
    color: rgba(3, 126, 243, 1);
    border: 1px solid rgba(3, 126, 243, 1);
    font-size: 2em;
    font-weight: 300;
}

.close {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 10px;
}

.element {
    width: 80%;
    height: 30%;
    position: absolute;
    left: 12%;
    top: 15%;
    font-size: 6vmin;
    color: #0D84F3;
    text-align: center;
}

.webui-popover {
    z-index: 1999;
}

button {
    outline: none;
}

.can-skip .skip {
    transform: translate3d(0, 0, 0);
}

.can-skip .load-progress {
    transform: translate3d(0, 500px, 0);
}

.opac {
    opacity: 1;
}

.webui-popover {
    z-index: 1970;
}

.mobile-tag {
    position: absolute;
    top: 80%;
    left: 33%;
    width: 25%;
    height: 6%;
    opacity: 0;
    color: white;
    font-size: 22px;
    padding-left: 1%;
    padding-top: 0.5%;
    font-family: Lato;
    opacity: 0;
    text-align: center;
}

.flight-links li a {
    color: #0D84F3;
}

@media screen and (orientation:landscape) and (max-height: 400px) {
    .cssload-loader {
        top: 40%;
    }
    .css-progress {
        top: initial;
        bottom: 5%;
    }
}

.poverty,
.women,
.explore,
.teacher,
.pyramid,
.tan,
.ge,
.gt,
.car {
    overflow-x: hidden;
}

.panorama {
    color: rgba(3, 126, 243, 1);
    border: 1px solid rgba(3, 126, 243, 1);
    font-size: 2em;
    font-weight: 300;
}

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

.options div {
    padding: 5%;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.error {
    z-index: 2000;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: white;
}

.pan-svg {
    transform: scale(1.2);
    position: relative;
    left: 41%;
}

.flight {
    border: 1px solid #58A7F2;
    color: #58A7F2;
    padding: 5px 10px;
    transition: all 0.3s;
    background: transparent;
    min-width: 80%;
    margin-top: 10% !important;
    margin-left: 10% !important;
    font-size: 23px !important;
}

.flight a {
    color: #037EF3;
}

.mute {
    position: absolute;
    bottom: 7.5%;
    left: 7%;
    width: 3%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 640px) {
    .mute {
        visibility: hidden;
    }
}
